body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212; /* Sötét háttér */
    color: #e0e0e0; /* Világos szöveg */
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #1e1e1e; /* Sötétebb háttér a konténerhez */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Erősebb árnyék */
}

.admin-button {
    background-color: #1a73e8; /* Kék gomb */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.admin-button:hover {
    background-color: #1669c1; /* Sötétebb kék hover */
}

.adat-tablazat {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #e0e0e0; /* Világos szöveg */
}

.index-column {
    width: 40px;
    text-align: center;
}

.adat-tablazat th, .adat-tablazat td {
    border: 1px solid #333; /* Sötétebb szegély */
    padding: 6px;
    text-align: left;
    font-size: 14px;
}

.adat-tablazat th {
    background-color: #2c2c2c; /* Sötétebb fejléc */
    font-weight: bold;
}

.adat-sor:nth-child(even) {
    background-color: #1a1a1a; /* Sötétebb sorok */
}

.adat-sor:hover {
    background-color: #333333; /* Kiemelés hover */
}

.torles-gomb {
    background-color: #e53935; /* Piros gomb */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
}

.torles-gomb:hover {
    background-color: #c62828; /* Sötétebb piros hover */
}
